= provide(:title, 'Code')
%section
  %h1 StaticPages#code
  %ul
    %li.code
      .description
        %p.abstract
          Santiago is a LaTeX Beamer theme based on
          %a(href="http://blog.barisione.org/2007-09/torino-a-pretty-theme-for-latex-beamer/")Torino
          by Marco Barisione and
          %a(href="https://bitbucket.org/rivanvx/beamer/src")Warsaw
          by Till Tantau. It was created for a meetup talk in Santiago, Chile and provides a nice title page, a clean layout and a split table of contents.
        %p.repository
          Github repository:
          %a(href="https://github.com/gonzalo-bulnes/santiago-beamer-theme")gonzalo-bulnes/santiago-beamer-theme
      .download
        %img(src="https://github.com/gonzalo-bulnes/santiago-beamer-theme/blob/master/images/mockup-front.png")
        %img(src="https://github.com/gonzalo-bulnes/santiago-beamer-theme/blob/master/images/mockup-inside.png")
