#banner
#content-wrapper
  %article
    %header
      %h1 <abbr title="Frequently Asked Questions">FAQ</abbr>
    %ol#faq
      %li
        %h2 How can I add the app to my iPhone?
        %p.scope Applies to iPhone, iPad, iPod Touch
        %p Use Safari to open the app on you iPhone, iPad, or iPod Touch, tap the ? button and then tap "Add to Home screen." A Web Clip will be added to your Home screen for easy, one-tap access.
      %li
        %h2 How does the app relate to OpenStreetMap?
        %p We are OpenStreetMap contributors, just as you are. This app makes use of the OpenStreetMap&nbsp;<abbr title="Application Programming Interface">API</abbr> to submit your contributions to the map on your behalf. As we aren't part of the organization, they ask us to justifiy that you're ok with us using your OpenStreetMap credentials. That last is the purpose of the authorization process.
      %li
        %h2 What does the app use my OpenStreetMap credentials for?
        %p To make sure the data you contribute to OpenStreetMap using our app belongs to you, we must submit it with your credentials. To do that, we ask you to grant us the permission to "modify the map" using them. We care about your privacy, that's why we don't ask you to graant us any other permission.

