-#= provide(:title, "Talks")
= provide(:page_id, 'talks')
%section
  %h1 StaticPages#talks
  %ul
    %li.talk
      .description
        %p.abstract
        %p.event
        %p.date
      .download
        %a.pdf
        %a.src
