= provide(:title, "Article")
= provide(:page_id, 'example')
%article
  %aside.tags
    aside.tags
  %section
    %h1 Article Example
    %p Find me in app/views/pages/article.html.haml
  %aside.related
    aside.related
%aside.suggested
  aside.suggested
