#banner
#map-wrapper
  #map
  #form-wrapper
    #form-wrapper-inner
%aside
  %article
    %section#alpha
      %h1 Public alpha!
      %p This applications still does nothing, it is a public alpha version which aims at collecting some usability feedback. Thank you for helping us!
      %p You can submit as many <em>house numbers</em> as you want. None of them will be actually submitted to the map, but each of them will help us to improve the user interface.
      %p Additionnally, we'd love to read your direct feedback at <a href="mailto:#">feedback@example.com</a>.
    %section
      %h1 How to map
      %p You need an OpenStreetMap account to be able to edit the map. This application provides you an easy way to use your existing OSM account to sign in.
      %p Your submissions will be released on OpenStreetMap with the same licensing than any other of your contributions. See the OSM <a href="#">licensing</a> for details.
      %h2 Geolocation
      %p You can enable geolocation to quickly center the map near of your current position.
      %p Geolocation is quite approximative, please adjust your location carefully before submitting house numbers to the map!
    -#%section
      %h1 Privacy
      %p You can enable geolcation to center automatically the map near of your current position. Geolocation offers a quick location approximation. Please adjust your location carefully before submitting house numbers to the map!
    %section
      %h1 <a href="#">OpenStreetMap</a>
      %p OpenStreetMap is a collaborative project built to provide <a href="#">free geographic data and mapping</a> to anyone who wants it. It started because most maps you think of as free actually have legal or technical restrictions on their use, holding back people from using them in creative, productive, or unexpected ways.
      %p This application is a way among others to edit that map. <a href="#">Some</a> allow you to submit any <em>point of interest</em>, <a href="#">others</a> give you full access to add map features. We believe in keeping things simple, and our contribution consits in giving to you a handy tool to number buildings while you're on the go.
