%footer#footer
  %p.copyright
    Copyright &copy; #{ Date.today.year } Gonzalo Bulnes Guilpain
  %p
    Mobile OSM House Number Editor is free and open-source, see its <a href="#">Github repository</a> for sources and licensing information.
