%nav#nav
  %ul
    %li
      = link_to 'Help', help_path, id: "help_link"
    %li
      = link_to 'janedoe@example.com', '#', id: "user_link"
    %li
      = link_to 'Sign out', '#', id: "signout_link"
    %li
      = link_to 'Settings', '#', id: "settings_link"
