/* Default (mobile first) */

/* Mixins */

@mixin center {
  margin-left: auto;
  margin-right: auto;
}
@mixin narrow {
  max-width: 20em;
}
@mixin reset {
  margin: 0;
  padding: 0;
}

/* Basic Typography */

html>body {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  line-height: 1.5em;
}

body {
  @include reset;
  font-size: 87.5%;
}

/* Basic Layout */

html, body {
  width: 100%;
  height: 100%;
}

#wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

#header-wrapper {
  @include center;
}

abbr {
  border-width: 0;
  cursor: help;
}
