!!! 5
%html
  %head
    %title #{full_title(yield(:title))}
    =stylesheet_link_tag "application", media: "all"
    =javascript_include_tag "application"
    =csrf_meta_tags
  %body{ id: yield(:page_id)}
    #page-wrapper

      %aside#branding
        %hgroup
          %h1 Title
          %h2 Subtitle
          #logo<
            %a#jump-to-home(href="#" title="Jump to the Hello! page")

      %nav#main-nav
        %ul
          %li
            = link_to "Talks", "#"
          %li
            = link_to "Code", "#"

      %aside#secondary-banner<
        .content

      %aside#main-banner
        .content
          %p Main banner

      = yield

      %footer#main-footer
        %section
          %p.copyright Copyright&nbsp;©&nbsp;2011 Gonzalo&nbsp;Bulnes&nbsp;Guilpain
          / https://microformats.org
          %p.license<
            %span<
              Except where otherwise noted, content on this site is licensed under a 
              %a(href="https://www.gnu.org/copyleft/fdl.html" rel="license")<
                GNU Free Documentaton License.
              
        %section#html5-badge
          %a(href="https://www.w3.org/html/logo/" title="This page is HTML5 Powered with CSS3 / Styling, and Semantics")
